@import "functions";
@import "variables";
@import "reboot";

html, body {
  height: 100%;
}

.x-modal-open {
  // Kill the scroll on the body
  overflow: hidden;
  .x-modal {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

// Container that the modal scrolls within
.x-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  opacity: 0;
}
.is-visible {
  opacity: 1;
}
.x-modal-dialog {
  position: relative;
  width: auto;
  max-width: 100%;
  pointer-events: none;
  margin: 0 auto;
}
.x-modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: 100%;
}
.x-modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  color: $dark;
  width: 100%;
  min-height: map-get( $modal-height, "xs");
  height: 100vh;
  pointer-events: auto;
  background-color: $modal-background-color;
  background-clip: padding-box;
  border: none;
  box-shadow: $modal-shadow;
  outline: 0;
  overflow: hidden;
  .x-modal-header {
    position: relative;
    width: 100%;
    height: $modal-header-height;
    background-color: $modal-header-background-color;
    color: $modal-header-color;
    padding: 7px 5px;
  }
  .x-modal-body {
    height: calc( 100% - #{$modal-header-height} );
    padding: 0 10px 25px 10px;
    position: relative;
    .x-body-top {
      padding: 15px 0;
      height: $modal-header-height;
    }
    .x-body-content {
      justify-content: center;
      display: flex;
      align-items: center;
      height: calc( 100% - #{$modal-header-height} );
      .x-body-content__inner {
        text-align: center;
        width: 100%;
      }
    }
  }
}
.x-containerized {
  width: 100%;
  max-width: 300px;
}
.x-pay-message {
  .x-pay-message__text,
  .x-pay-message__currency {
    line-height: 27.6px;
  }
  .x-pay-message__description {
    display: inline-block;
    line-height: 18.4px;
  }
  .x-pay-message__currency {
    font-weight: bold;
    font-size: map-get( $font-sizes, "large");
  }
  .x-pay-message__icon {
    height: 80px;
    margin: 40px 0 70px 0;
  }
}

.x-link {
  text-decoration: underline;
  &.x-link-dark {
    color: $black;
    &:hover {
      color: $primary;
    }
  }
  &.x-link-primary {
    color: $primary;
    &:hover {
      color: $black;
    }
  }
}

.x-wrapped {
  width: 100%;
  max-width: 300px;
  margin:0 auto;
}
.x-msg-info {
  letter-spacing: 0.075em;
  line-height: 14px;
  color: $primary;
  text-align: center;
}
.x-btn-modal-close {
  height: $modal-header-height;
  width: $modal-header-height;
  position: absolute;
  top: 0;
  right: 0;
  @include cleared-btn();
  &:hover {
    cursor: pointer;
  }
  svg {
    fill: $modal-close-color;
  }
}
.x-btn {
  height: $x-btn-height;
  width: 100%;
  border: 1px solid $primary;
  border-radius: 150px;
  text-align: center;
  padding: 5px 35px;
  line-height: 40px;
  font-weight: bold;
  font-family: $font-family-base;
  font-size: map-get( $font-sizes, "small");
  font-style: normal;
  display: inline-block;
  &.x-btn-primary {
    background-color: $primary;
    color: $white;
    .x-btn-loader {
      @include border-color($white, $white, $white, $primary );
    }
    &:hover {
      background-color: $dark;
      border-color: $dark;
      cursor: pointer;
      .x-btn-loader {
        border-left-color: $dark;
      }
    }
    &.x-disabled,
    &:disabled {
      border-color: $gray;
      cursor: default;
      .x-btn-loader {
        @include border-color(#DCE4EE, #DCE4EE, #DCE4EE, $white );
      }
      &:hover {
        background-color: $gray;
        .x-btn-loader {
          @include border-color(#DCE4EE, #DCE4EE, #DCE4EE, $white );
        }
      }
      background-color: $gray;
    }
  }
  &.x-btn-outline-primary {
    background-color: transparent;
    color: $primary;
    .x-btn-loader {
      @include border-color(#DCE4EE, #DCE4EE, #DCE4EE, $primary );
    }
    &:hover {
      background-color: transparent;
      border-color: $dark;
      color: $dark;
      cursor: pointer;
      .x-btn-icon-left > path {
        fill: $dark;
      }
      .x-btn-loader {
        @include border-color(#DCE4EE, #DCE4EE, #DCE4EE, $dark);
      }
    }
    .x-btn-icon-left > path {
      fill: $primary;
    }
    &.x-disabled,
    &:disabled {
      border-color: $gray;
      color: $gray;
      cursor: default;
      .x-btn-icon-left > path {
        fill: $gray;
      }
      .x-btn-loader {
        @include border-color(#DCE4EE, #DCE4EE, #DCE4EE, $gray);
      }
      &:hover {
        background-color: transparent;
        .x-btn-icon-left > path {
          fill: $gray;
        }
        .x-btn-loader {
          @include border-color(#DCE4EE, #DCE4EE, #DCE4EE, $gray);
        }
      }
      background-color: transparent;
    }
  }
  &.x-btn-outline-dark {
    background-color: transparent;
    color: $black;
    border-color: $black;
    .x-btn-loader {
      @include border-color(#DCE4EE, #DCE4EE, #DCE4EE, $primary );
    }
    &:hover {
      background-color: transparent;
      border-color: $primary;
      color: $dark;
      cursor: pointer;
      .x-btn-icon-left > path {
        fill: $dark;
      }
      .x-btn-loader {
        @include border-color(#DCE4EE, #DCE4EE, #DCE4EE, $dark);
      }
    }
    .x-btn-icon-left > path {
      fill: $primary;
    }
    &.x-disabled,
    &:disabled {
      border-color: $gray;
      color: $gray;
      cursor: default;
      .x-btn-icon-left > path {
        fill: $gray;
      }
      .x-btn-loader {
        @include border-color(#DCE4EE, #DCE4EE, #DCE4EE, $gray);
      }
      &:hover {
        background-color: transparent;
        .x-btn-icon-left > path {
          fill: $gray;
        }
        .x-btn-loader {
          @include border-color(#DCE4EE, #DCE4EE, #DCE4EE, $gray);
        }
      }
      background-color: transparent;
    }
  }
  &.x-btn-wide {
    max-width: 300px;
  }
  .x-btn-icon-left {
    margin-top: -4px;
    margin-right: 14px;
  }
}

.x-invisible {
  opacity: 0;
  position: absolute;
  z-index: -15;
  width: 1px;
  height: 1px;
}

.x-input-container {
  padding-bottom: 25px;
  label {
    display: block;
    text-align: left;
    font-size: map-get( $font-sizes, "extra-small");
    font-weight: bold;
    margin-bottom: 4px;
    color: $dark;
  }
  .x-input-body {
    width: 100%;
    height: $modal-input-height;
    position: relative;
    .x-input-helper {
      width: 15px;
      height: 15px;
      position: absolute;
      top: calc( 50% - 7.5px );
      right: 13px;
      z-index: 25;
      &:hover,
      &.is-active {
        cursor: pointer;
        > svg {
          > path {
            fill: #212A47;
          }
        }
      }
      > svg {
        display: block;
      }
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      height: $modal-input-height;
      width: 100%;
      top: 0;
      left: 0;
      text-align: left;
      line-height:  $modal-input-height;
      padding: 0 18px;
      font-size: map-get( $font-sizes, "large");
      color: #DBE6F2;
      /*z-index: 15;*/
    }
    &.is-empty {
      // card input
      &.x-input-body-cardNumber {
        &:before {
          content: "\2022 \2022 \2022 \2022  \2022 \2022 \2022 \2022  \2022 \2022 \2022 \2022  \2022 \2022 \2022 \2022";
          letter-spacing: 3px;
        }
      }
      // expiryDate input
      &.x-input-body-expiryDate {
        &:before {
          content: "MM / YY";
          color: #ADC1D8;
          font-size: map-get( $font-sizes, "small");
          text-align: center;
          letter-spacing: 2.5px;
        }
        .x-input {
          padding-left: 20%;
          padding-right: 20%;
        }
      }
      &.x-input-body-cardCvv {
        &:before {
          content: "\2022 \2022 \2022";
          letter-spacing: 10px;
          padding-left: 25px;
        }
        .x-input {
          &:active, &:focus {
            border-color: #DBE6F2;
            outline: none;
          }
        }
      }
    }
    &:not( .x-input-body-cardCvv.is-active ) {
      &:hover {
        &:before {
          background-color: #F2F7FB;
        }
      }
    }
    &.has-error {
      &:before {
        background-color: #FFF2F2;
      }
      .x-input {
        border-color: #E23232 !important;
        outline: 1px #E23232 !important;
      }
      &:before,
      &:hover:before {
        background-color: #FFF2F2 !important;
      }
    }
    &.x-input-body-wide {
      max-width: 300px;
    }
    &.x-input-body-short {
      max-width: 140px;
    }
    // card input
    &.x-input-body-cardNumber {
      &.cardNumberType-4 {
        .x-input {
          background-image: url("../img/visa.svg") !important;
          background-position: right 15px center;
          background-repeat: no-repeat;
        }
      }
      &.cardNumberType-5 {
        .x-input {
          background-image: url("../img/visa-circles.svg") !important;
          background-position: right 15px center;
          background-repeat: no-repeat;
        }
      }
      &.cardNumberType-9 {
        .x-input {
          background-image: url("../img/prostir.svg") !important;
          background-position: right 15px center;
          background-repeat: no-repeat;
        }
      }
      .x-input {
        font-size: map-get( $font-sizes, "default");
        letter-spacing: 2.5px;
      }
    }
    // expiryDate input
    &.x-input-body-expiryDate {
      .x-input {
        font-size: map-get( $font-sizes, "small");
        line-height: 16px;
        letter-spacing: 2.5px;
        padding-left: 21%;
        padding-right: 21%;
      }
    }
    // cardCvv input
    &.x-input-body-cardCvv {
      &.is-active {
        .x-input {
          border-bottom-color: transparent !important;
          border-top-color: $dark !important;
          border-left-color: $dark !important;
          border-right-color: $dark !important;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
      .x-input-body-cardCvv__addon,
      .x-input-body-cardCvv__addon-helper {
        position: absolute;
        top: calc( 100% - 1px );
        width: 100%;
        left: 0;
      }
      .x-input-body-cardCvv__addon-helper {
        background-color: #F2F7FB;
        border-radius: 5px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
        height: 140px;
        .helper-types {
          margin-top: 10px;
          font-weight: bold;
          font-size: 8px;
          line-height: 9px;
        }
        .helper-description {
          margin: 7px 0 9px 0;
          font-size: 8px;
          line-height: 9px;
        }
      }
      .x-input-body-cardCvv__addon {
        padding: 0 10px 10px 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        background-color: $white;
        border-bottom: 1px solid $dark;
        border-left: 1px solid $dark;
        border-right: 1px solid $dark;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        > button {
          &.btn-num {
            display: block;
            width: 33.333%;
            height: 26px;
            color: $dark;
            border: 1px solid $white;
            background-color: #DBE6F2;
            font-size: map-get( $font-sizes, "extra-small");
            &:hover {
              cursor: pointer;
              background-color: $primary;
              color: $white;
            }
          }
          &.btn-backspace {
            height: 26px;
            display: block;
            width: 33.333%;
            border: none;
            background-color: transparent;
            svg {
              fill: $primary;
            }
            &:hover {
              cursor: pointer;
              svg {
                fill: $dark;
              }
            }
          }
        }
      }
      .x-input {
        color: transparent;
        caret-color: transparent;
        padding-left: 25px;
        letter-spacing: 20px;
      }
    }
    .x-input {
      position: relative;
      width: 100%;
      height: inherit;
      border-radius: 5px;
      border: solid 1px #DBE6F2;
      padding: 5px 15px;
      background-color: transparent;
      z-index: 15;
      &:active,
      &:focus {
        border-color: #303244;
        outline: 1px #303244;
      }
    }
    .x-input-error-block {
      color: #E23232;
      font-size: 10px;
      line-height: 11px;
      text-align: left;
      position: absolute;
      top: 100%;
      left: 0;
      padding: 3px 0;
    }
  }
}

.x-input-masked-value {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  padding: 20px 25px;
  > span {
    display: block;
    position: relative;
    height: 6px;
    width: 6px;
    margin-right: 13px;
  }
  > .hide-char {
    border-radius: 6px;
    background-color: #303244;
  }
}

.x-input-body {
  .x-input:focus {
    + .x-input-masked-value {
      .trigger::after {
        content: '';
        color: $black;
        position: absolute;
        right: -20px;
        top: 0;
        height: 250%;
        bottom: 0;
        margin: auto;
        opacity: 1;
        animation: blink 0.8s infinite;
        border-left: 1px solid $black;
      }
    }
  }
  &.value-length-3 {
    .x-input:focus {
      + .x-input-masked-value {
        .trigger::after {
          right: -5px;
        }
      }
    }
  }
  &.value-length-0 {
    .x-input:focus {
      + .x-input-masked-value {
        .trigger::after {
          right: 7px;
        }
      }
    }
  }
}

@keyframes blink {
  0%, 10%{border-left: 1px solid $black;}
  10%, 20%{border-left: 1px solid $black;}
  20%, 30%{border-left: 1px solid $black;}
  30%, 40%{border-left: 1px solid $black;}
  40%, 50%{border-left: 1px solid $black;}
  50%, 60% {border-left: 1px solid transparent;}
  60%, 70% {border-left: 1px solid transparent;}
  70%, 80% {border-left: 1px solid transparent;}
  80%, 90% {border-left: 1px solid transparent;}
  90%, 100% {border-left: 1px solid transparent;}
}

.x-btn-loader,
.x-btn-loader:after {
  width: calc( #{$x-btn-height} / 1.8 );
  height: calc( #{$x-btn-height} / 1.8 );
  border-radius: 50%;
}
.x-btn-loader {
  display: inline-block;
  margin-bottom: -8px;
  margin-left: -10px;
  margin-right: 14px;
  border-top: 3.5px solid;
  border-right: 3.5px solid;
  border-bottom: 3.5px solid;
  border-left: 3.5px solid;
}
.x-btn-loader,
.x-loader {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 0.8s infinite linear;
  animation: load8 0.8s infinite linear;
}
.x-loader {
  margin: 10px auto;
}
.x-loader,
.x-loader:after {
  border-radius: 50%;
  width: 126px;
  height: 126px;
  border-top: 14px solid;
  border-right: 14px solid;
  border-bottom: 14px solid;
  border-left: 14px solid;
}
.x-loader-primary {
  @include border-color(#F2F7FB, #F2F7FB, #F2F7FB, $primary);
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    backface-visibility: hidden;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    backface-visibility: hidden;
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    backface-visibility: hidden;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    backface-visibility: hidden;
  }
}

@media ( min-width: 310px) {
  .x-input-container {
    .x-input-body {
      &.is-empty {
        &.x-input-body-expiryDate {
          .x-input {
            padding-left: 34px;
            padding-right: 34px;
          }
        }
      }
      // expiryDate input
      &.x-input-body-expiryDate {
        .x-input {
          padding-left: 38px;
          padding-right: 38px;
        }
      }
    }
    // cardCvv input
    &.x-input-body-cardCvv {
      &.is-active {
        .x-input {
        }
      }
      .x-input-body-cardCvv__addon,
      .x-input-body-cardCvv__addon-helper {
      }
      .x-input-body-cardCvv__addon {
        > button {
          &.btn-num {
            width: 38px;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up("sm") {
  .x-modal-dialog {
    max-width: map-get( $modal-width, "sm");
  }
  .x-modal-content {
    min-height: map-get( $modal-height, "sm");
    border-radius: $modal-border-radius;
    height: auto;
    .x-modal-body {
      height: calc( #{map-get( $modal-height, "sm")} - #{$modal-header-height} );
    }
  }
  .x-btn {
    &.x-btn-narrow {
      max-width: 220px;
    }
  }
}

@include media-breakpoint-up("md") {
  .x-modal-dialog {
    max-width: map-get( $modal-width, "md");
  }
  .x-modal-content {
    min-height: map-get( $modal-height, "md");
    .x-modal-body {
      height: calc( #{map-get( $modal-height, "md")} - #{$modal-header-height} );
    }
  }
  .x-input-container {
    .x-input-body {
      // cardCvv input
      &.x-input-body-cardCvv {
        .x-input-body-cardCvv__addon {
          justify-content: center;
        }
      }
    }
  }
}

@include media-breakpoint-up("lg") {
  .x-modal-dialog {
    max-width: map-get( $modal-width, "lg");
  }
  .x-modal-content {
    min-height: map-get( $modal-height, "lg");
    .x-modal-body {
      height: calc( #{map-get( $modal-height, "lg")} - #{$modal-header-height} );
    }
  }
}

@include media-breakpoint-up("xl") {
  .x-modal-dialog {
    max-width: map-get( $modal-width, "xl");
  }
  .x-modal-content {
    min-height: map-get( $modal-height, "xl");
    .x-modal-body {
      height: calc( #{map-get( $modal-height, "xl")} - #{$modal-header-height} );
    }
  }
}

// font size classes
@each $breakpoint in map-keys($breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $breakpoints);
    @each $key, $value in $font-sizes {
        .fs#{$infix}-#{$key} { font-size: $value; }
    }
  }
}

// floats
@each $breakpoint in map-keys($breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $breakpoints);

    .x-fl#{$infix}-left  { float: left !important; }
    .x-fl#{$infix}-right { float: right !important; }
    .x-fl#{$infix}-none  { float: none !important; }
  }
}

@each $breakpoint in map-keys($breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $breakpoints);

    .x-text#{$infix}-left   { text-align: left !important; }
    .x-text#{$infix}-right  { text-align: right !important; }
    .x-text#{$infix}-center { text-align: center !important; }
  }
}

// Transformation
.x-text-lowercase  { text-transform: lowercase !important; }
.x-text-uppercase  { text-transform: uppercase !important; }
.x-text-capitalize { text-transform: capitalize !important; }
// Weight and italics
.fw-light   { font-weight: $font-weight-light !important; }
.fw-lighter { font-weight: $font-weight-lighter !important; }
.fw-normal  { font-weight: $font-weight-normal !important; }
.fw-bold    { font-weight: $font-weight-bold !important; }
.fw-bolder  { font-weight: $font-weight-bolder !important; }
.f-italic         { font-style: italic !important; }

// Contextual colors

.x-text-white { color: $white !important; }

@each $color, $value in $theme-colors {
  @include text-emphasis-variant(".x-text-#{$color}", $value);
}

.x-text-muted { color: $text-muted !important; }

.clear {
  @include clear();
}

// spacings
@each $breakpoint in map-keys($breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $breakpoints);

    @each $prop, $abbrev in (margin: m, padding: p) {
      @each $size, $length in $spacers {
        .#{$abbrev}#{$infix}-#{$size} { #{$prop}: $length !important; }
        .#{$abbrev}t#{$infix}-#{$size},
        .#{$abbrev}y#{$infix}-#{$size} { #{$prop}-top: $length !important; }
        .#{$abbrev}r#{$infix}-#{$size},
        .#{$abbrev}x#{$infix}-#{$size} { #{$prop}-right: $length !important; }
        .#{$abbrev}b#{$infix}-#{$size},
        .#{$abbrev}y#{$infix}-#{$size} { #{$prop}-bottom: $length !important; }
        .#{$abbrev}l#{$infix}-#{$size},
        .#{$abbrev}x#{$infix}-#{$size} { #{$prop}-left: $length !important; }
      }
    }
    .m#{$infix}-auto { margin: auto !important; }
    .mt#{$infix}-auto,
    .my#{$infix}-auto { margin-top: auto !important; }
    .mr#{$infix}-auto,
    .mx#{$infix}-auto { margin-right: auto !important; }
    .mb#{$infix}-auto,
    .my#{$infix}-auto { margin-bottom: auto !important; }
    .ml#{$infix}-auto,
    .mx#{$infix}-auto { margin-left: auto !important; }
  }
}

// displays
@each $breakpoint in map-keys($breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $breakpoints);

    @each $value in $displays {
      .x-d#{$infix}-#{$value} { display: $value !important; }
    }
  }
}

// sizing
@each $breakpoint in map-keys($breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $breakpoints);

    @each $prop, $abbrev in (width: w, height: h) {
      @each $size, $length in $sizes {
        .#{$abbrev}#{$infix}-#{$size} { #{$prop}: $length !important; }
      }
    }
  }
}
