*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(48, 50, 68, 0); }

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  font-family: "Arial";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212A47;
  text-align: left;
  background-color: #fff; }

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0; }

p {
  margin-top: 0; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  color: #4B71DB;
  text-decoration: none;
  background-color: transparent; }
  a:hover {
    color: #244bb5;
    text-decoration: underline; }

a:not([href]):not([class]) {
  color: inherit;
  text-decoration: none; }
  a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle;
  border-style: none; }

svg {
  overflow: hidden;
  vertical-align: middle; }

table {
  border-collapse: collapse; }

th {
  text-align: inherit;
  text-align: -webkit-match-parent; }

label {
  display: inline-block; }

button {
  border-radius: 0; }

button:focus:not(:focus-visible) {
  outline: 0; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

[role="button"] {
  cursor: pointer; }

select {
  word-wrap: normal; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

progress {
  vertical-align: baseline; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item;
  cursor: pointer; }

template {
  display: none; }

[hidden] {
  display: none !important; }

html, body {
  height: 100%; }

.x-modal-open {
  overflow: hidden; }
  .x-modal-open .x-modal {
    overflow-x: hidden;
    overflow-y: auto; }

.x-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0; }

.x-modal-dialog {
  position: relative;
  width: auto;
  max-width: 350px;
  pointer-events: none;
  margin: 0 auto; }

.x-modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: 100%; }

.x-modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #212A47;
  width: 100%;
  min-height: 600px;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  outline: 0;
  overflow: hidden; }
  .x-modal-content .x-modal-header {
    position: relative;
    width: 100%;
    height: 56px;
    background-color: #4B71DB;
    color: #fff;
    padding: 13px 11px; }
  .x-modal-content .x-modal-body {
    padding: 0 10px 25px 10px;
    position: relative; }
    .x-modal-content .x-modal-body .x-body-top {
      padding: 15px 0;
      height: 56px; }
    .x-modal-content .x-modal-body .x-body-content {
      justify-content: center;
      display: flex;
      align-items: center;
      height: calc( 100% - 56px ); }
      .x-modal-content .x-modal-body .x-body-content .x-body-content__inner {
        text-align: center;
        width: 100%; }

.x-containerized {
  width: 100%;
  max-width: 300px; }

.x-pay-message .x-pay-message__text,
.x-pay-message .x-pay-message__currency {
  line-height: 27.6px; }
.x-pay-message .x-pay-message__description {
  display: inline-block;
  line-height: 18.4px; }
.x-pay-message .x-pay-message__currency {
  font-weight: bold;
  font-size: 24px; }
.x-pay-message .x-pay-message__icon {
  height: 80px;
  margin: 40px 0 70px 0; }

.x-link {
  color: #303244;
  text-decoration: underline; }

.x-wrapped {
  width: 100%;
  max-width: 300px;
  margin: 0 auto; }

.x-msg-info {
  letter-spacing: 0.075em;
  line-height: 14px;
  color: #4B71DB;
  text-align: center; }

.x-btn-modal-close {
  height: 56px;
  width: 56px;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  background-color: transparent; }
  .x-btn-modal-close:hover {
    cursor: pointer; }
  .x-btn-modal-close svg {
    fill: #fff; }

.x-btn {
  height: 50px;
  width: 100%;
  border: 1px solid #4B71DB;
  border-radius: 150px;
  text-align: center;
  padding: 5px 35px;
  line-height: 40px;
  font-weight: bold;
  font-family: "Arial";
  font-size: 14px;
  font-style: normal; }
  .x-btn.x-btn-primary {
    background-color: #4B71DB;
    color: #fff; }
    .x-btn.x-btn-primary .x-btn-loader {
      border-top-color: #fff;
      border-right-color: #fff;
      border-bottom-color: #fff;
      border-left-color: #4B71DB; }
    .x-btn.x-btn-primary:hover {
      background-color: #212A47;
      cursor: pointer; }
      .x-btn.x-btn-primary:hover .x-btn-loader {
        border-left-color: #212A47; }
    .x-btn.x-btn-primary.x-disabled, .x-btn.x-btn-primary:disabled {
      border-color: #ADC1D8;
      cursor: default;
      background-color: #ADC1D8; }
      .x-btn.x-btn-primary.x-disabled .x-btn-loader, .x-btn.x-btn-primary:disabled .x-btn-loader {
        border-top-color: #DCE4EE;
        border-right-color: #DCE4EE;
        border-bottom-color: #DCE4EE;
        border-left-color: #fff; }
      .x-btn.x-btn-primary.x-disabled:hover, .x-btn.x-btn-primary:disabled:hover {
        background-color: #ADC1D8; }
        .x-btn.x-btn-primary.x-disabled:hover .x-btn-loader, .x-btn.x-btn-primary:disabled:hover .x-btn-loader {
          border-top-color: #DCE4EE;
          border-right-color: #DCE4EE;
          border-bottom-color: #DCE4EE;
          border-left-color: #fff; }
  .x-btn.x-btn-outline-primary {
    background-color: transparent;
    color: #4B71DB; }
    .x-btn.x-btn-outline-primary .x-btn-loader {
      border-top-color: #DCE4EE;
      border-right-color: #DCE4EE;
      border-bottom-color: #DCE4EE;
      border-left-color: #4B71DB; }
    .x-btn.x-btn-outline-primary:hover {
      background-color: transparent;
      border-color: #212A47;
      color: #212A47;
      cursor: pointer; }
      .x-btn.x-btn-outline-primary:hover .x-btn-icon-left > path {
        fill: #212A47; }
      .x-btn.x-btn-outline-primary:hover .x-btn-loader {
        border-top-color: #DCE4EE;
        border-right-color: #DCE4EE;
        border-bottom-color: #DCE4EE;
        border-left-color: #212A47; }
    .x-btn.x-btn-outline-primary .x-btn-icon-left > path {
      fill: #4B71DB; }
    .x-btn.x-btn-outline-primary.x-disabled, .x-btn.x-btn-outline-primary:disabled {
      border-color: #ADC1D8;
      color: #ADC1D8;
      cursor: default;
      background-color: transparent; }
      .x-btn.x-btn-outline-primary.x-disabled .x-btn-icon-left > path, .x-btn.x-btn-outline-primary:disabled .x-btn-icon-left > path {
        fill: #ADC1D8; }
      .x-btn.x-btn-outline-primary.x-disabled .x-btn-loader, .x-btn.x-btn-outline-primary:disabled .x-btn-loader {
        border-top-color: #DCE4EE;
        border-right-color: #DCE4EE;
        border-bottom-color: #DCE4EE;
        border-left-color: #ADC1D8; }
      .x-btn.x-btn-outline-primary.x-disabled:hover, .x-btn.x-btn-outline-primary:disabled:hover {
        background-color: transparent; }
        .x-btn.x-btn-outline-primary.x-disabled:hover .x-btn-icon-left > path, .x-btn.x-btn-outline-primary:disabled:hover .x-btn-icon-left > path {
          fill: #ADC1D8; }
        .x-btn.x-btn-outline-primary.x-disabled:hover .x-btn-loader, .x-btn.x-btn-outline-primary:disabled:hover .x-btn-loader {
          border-top-color: #DCE4EE;
          border-right-color: #DCE4EE;
          border-bottom-color: #DCE4EE;
          border-left-color: #ADC1D8; }
  .x-btn.x-btn-wide {
    max-width: 300px; }
  .x-btn.x-btn-narrow {
    max-width: 220px; }
  .x-btn .x-btn-icon-left {
    margin-top: -4px;
    margin-right: 14px; }

.x-input-container {
  padding-bottom: 25px; }
  .x-input-container label {
    display: block;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
    color: #212A47; }
  .x-input-container .x-input-body {
    width: 100%;
    height: 46px;
    position: relative; }
    .x-input-container .x-input-body .x-input-helper {
      width: 15px;
      height: 15px;
      position: absolute;
      top: calc( 50% - 7.5px );
      right: 13px;
      z-index: 25; }
      .x-input-container .x-input-body .x-input-helper:hover, .x-input-container .x-input-body .x-input-helper.is-active {
        cursor: pointer; }
        .x-input-container .x-input-body .x-input-helper:hover > svg > path, .x-input-container .x-input-body .x-input-helper.is-active > svg > path {
          fill: #212A47; }
      .x-input-container .x-input-body .x-input-helper > svg {
        display: block; }
    .x-input-container .x-input-body:before {
      content: "";
      display: block;
      position: absolute;
      height: 46px;
      width: 100%;
      top: 0;
      left: 0;
      text-align: left;
      line-height: 46px;
      padding: 0 18px;
      font-size: 24px;
      color: #DBE6F2;
      z-index: 15; }
    .x-input-container .x-input-body.is-empty.x-input-body-cardNumber:before {
      content: "\2022 \2022 \2022 \2022  \2022 \2022 \2022 \2022  \2022 \2022 \2022 \2022  \2022 \2022 \2022 \2022";
      letter-spacing: 3px; }
    .x-input-container .x-input-body.is-empty.x-input-body-expiryDate:before {
      content: "MM / YY";
      color: #ADC1D8;
      font-size: 14px;
      text-align: center;
      letter-spacing: 2.5px; }
    .x-input-container .x-input-body.is-empty.x-input-body-expiryDate .x-input {
      padding-left: 34px;
      padding-right: 34px; }
    .x-input-container .x-input-body.is-empty.x-input-body-cardCvv:before {
      content: "\2022 \2022 \2022";
      letter-spacing: 10px;
      padding-left: 25px; }
    .x-input-container .x-input-body.is-empty.x-input-body-cardCvv .x-input:active, .x-input-container .x-input-body.is-empty.x-input-body-cardCvv .x-input:focus {
      border-color: #DBE6F2;
      outline: none; }
    .x-input-container .x-input-body:not(.x-input-body-cardCvv.is-active):hover:before {
      background-color: #F2F7FB; }
    .x-input-container .x-input-body.has-error:before {
      background-color: #FFF2F2; }
    .x-input-container .x-input-body.has-error .x-input {
      border-color: #E23232 !important;
      outline: 1px #E23232 !important; }
    .x-input-container .x-input-body.has-error:before, .x-input-container .x-input-body.has-error:hover:before {
      background-color: #FFF2F2 !important; }
    .x-input-container .x-input-body.x-input-body-wide {
      max-width: 300px; }
    .x-input-container .x-input-body.x-input-body-short {
      max-width: 140px; }
    .x-input-container .x-input-body.x-input-body-cardNumber.cardNumberType-4 .x-input {
      background-image: url("../img/visa.svg");
      background-position: right 15px center;
      background-repeat: no-repeat; }
    .x-input-container .x-input-body.x-input-body-cardNumber.cardNumberType-5 .x-input {
      background-image: url("../img/visa-circles.svg");
      background-position: right 15px center;
      background-repeat: no-repeat; }
    .x-input-container .x-input-body.x-input-body-cardNumber.cardNumberType-9 .x-input {
      background-image: url("../img/prostir.svg");
      background-position: right 15px center;
      background-repeat: no-repeat; }
    .x-input-container .x-input-body.x-input-body-cardNumber .x-input {
      font-size: 16px;
      letter-spacing: 2.5px; }
    .x-input-container .x-input-body.x-input-body-expiryDate .x-input {
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 2.5px;
      padding-left: 38px;
      padding-right: 38px; }
    .x-input-container .x-input-body.x-input-body-cardCvv.is-active .x-input {
      border-bottom-color: transparent !important;
      border-top-color: #DBE6F2 !important;
      border-left-color: #DBE6F2 !important;
      border-right-color: #DBE6F2 !important;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0; }
    .x-input-container .x-input-body.x-input-body-cardCvv .x-input-body-cardCvv__addon,
    .x-input-container .x-input-body.x-input-body-cardCvv .x-input-body-cardCvv__addon-helper {
      position: absolute;
      top: 100%;
      width: 100%;
      left: 0; }
    .x-input-container .x-input-body.x-input-body-cardCvv .x-input-body-cardCvv__addon-helper {
      background-color: #F2F7FB;
      border-radius: 5px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
      height: 140px; }
      .x-input-container .x-input-body.x-input-body-cardCvv .x-input-body-cardCvv__addon-helper .helper-types {
        margin-top: 10px;
        font-weight: bold;
        font-size: 8px;
        line-height: 9px; }
      .x-input-container .x-input-body.x-input-body-cardCvv .x-input-body-cardCvv__addon-helper .helper-description {
        margin: 7px 0 9px 0;
        font-size: 8px;
        line-height: 9px; }
    .x-input-container .x-input-body.x-input-body-cardCvv .x-input-body-cardCvv__addon {
      padding: 0 10px 10px 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      background-color: #fff;
      border-bottom: 1px solid #DBE6F2;
      border-left: 1px solid #DBE6F2;
      border-right: 1px solid #DBE6F2;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px; }
      .x-input-container .x-input-body.x-input-body-cardCvv .x-input-body-cardCvv__addon > button {
        display: block;
        width: 38px;
        height: 26px;
        color: #212A47;
        border: 1px solid #fff;
        background-color: #DBE6F2;
        font-size: 12px; }
        .x-input-container .x-input-body.x-input-body-cardCvv .x-input-body-cardCvv__addon > button:hover {
          cursor: pointer;
          background-color: #4B71DB;
          color: #fff; }
    .x-input-container .x-input-body.x-input-body-cardCvv .x-input {
      padding-left: 25px;
      letter-spacing: 10px;
      font-size: 24px; }
    .x-input-container .x-input-body .x-input {
      position: relative;
      width: 100%;
      height: inherit;
      border-radius: 5px;
      border: solid 1px #DBE6F2;
      padding: 5px 15px;
      background-color: transparent;
      z-index: 15; }
      .x-input-container .x-input-body .x-input:active, .x-input-container .x-input-body .x-input:focus {
        border-color: #303244;
        outline: 1px #303244; }
    .x-input-container .x-input-body .x-input-error-block {
      color: #E23232;
      font-size: 10px;
      line-height: 11px;
      text-align: left;
      position: absolute;
      top: 100%;
      left: 0;
      padding: 3px 0; }

.x-btn-loader,
.x-btn-loader:after {
  width: calc( 50px / 1.8 );
  height: calc( 50px / 1.8 );
  border-radius: 50%; }

.x-btn-loader {
  display: inline-block;
  margin-bottom: -8px;
  margin-left: -10px;
  margin-right: 14px;
  border-top: 3.5px solid;
  border-right: 3.5px solid;
  border-bottom: 3.5px solid;
  border-left: 3.5px solid; }

.x-btn-loader,
.x-loader {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear; }

.x-loader {
  margin: 10px auto; }

.x-loader,
.x-loader:after {
  border-radius: 50%;
  width: 126px;
  height: 126px;
  border-top: 14px solid;
  border-right: 14px solid;
  border-bottom: 14px solid;
  border-left: 14px solid; }

.x-loader-primary {
  border-top-color: #F2F7FB;
  border-right-color: #F2F7FB;
  border-bottom-color: #F2F7FB;
  border-left-color: #4B71DB; }

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@media (min-width: 576px) {
  .x-modal-dialog {
    max-width: 540px; }

  .x-modal-content {
    min-height: 550px; }

  .x-modal-body {
    height: calc( 550px - 56px ); } }
@media (min-width: 768px) {
  .x-modal-dialog {
    max-width: 540px; }

  .x-modal-content {
    min-height: 550px; }

  .x-modal-body {
    height: calc( 550px - 56px ); } }
@media (min-width: 992px) {
  .x-modal-dialog {
    max-width: 540px; }

  .x-modal-content {
    min-height: 550px; }

  .x-modal-body {
    height: calc( 550px - 56px ); } }
@media (min-width: 1200px) {
  .x-modal-dialog {
    max-width: 540px; }

  .x-modal-content {
    min-height: 550px; }

  .x-modal-body {
    height: calc( 550px - 56px ); } }
.fs-extra-small {
  font-size: 12px; }

.fs-small {
  font-size: 14px; }

.fs-default {
  font-size: 16px; }

.fs-default-more {
  font-size: 18px; }

.fs-large {
  font-size: 24px; }

@media (min-width: 576px) {
  .fs-sm-extra-small {
    font-size: 12px; }

  .fs-sm-small {
    font-size: 14px; }

  .fs-sm-default {
    font-size: 16px; }

  .fs-sm-default-more {
    font-size: 18px; }

  .fs-sm-large {
    font-size: 24px; } }
@media (min-width: 768px) {
  .fs-md-extra-small {
    font-size: 12px; }

  .fs-md-small {
    font-size: 14px; }

  .fs-md-default {
    font-size: 16px; }

  .fs-md-default-more {
    font-size: 18px; }

  .fs-md-large {
    font-size: 24px; } }
@media (min-width: 992px) {
  .fs-lg-extra-small {
    font-size: 12px; }

  .fs-lg-small {
    font-size: 14px; }

  .fs-lg-default {
    font-size: 16px; }

  .fs-lg-default-more {
    font-size: 18px; }

  .fs-lg-large {
    font-size: 24px; } }
@media (min-width: 1200px) {
  .fs-xl-extra-small {
    font-size: 12px; }

  .fs-xl-small {
    font-size: 14px; }

  .fs-xl-default {
    font-size: 16px; }

  .fs-xl-default-more {
    font-size: 18px; }

  .fs-xl-large {
    font-size: 24px; } }
.x-fl-left {
  float: left !important; }

.x-fl-right {
  float: right !important; }

.x-fl-none {
  float: none !important; }

@media (min-width: 576px) {
  .x-fl-sm-left {
    float: left !important; }

  .x-fl-sm-right {
    float: right !important; }

  .x-fl-sm-none {
    float: none !important; } }
@media (min-width: 768px) {
  .x-fl-md-left {
    float: left !important; }

  .x-fl-md-right {
    float: right !important; }

  .x-fl-md-none {
    float: none !important; } }
@media (min-width: 992px) {
  .x-fl-lg-left {
    float: left !important; }

  .x-fl-lg-right {
    float: right !important; }

  .x-fl-lg-none {
    float: none !important; } }
@media (min-width: 1200px) {
  .x-fl-xl-left {
    float: left !important; }

  .x-fl-xl-right {
    float: right !important; }

  .x-fl-xl-none {
    float: none !important; } }
.x-text-left {
  text-align: left !important; }

.x-text-right {
  text-align: right !important; }

.x-text-center {
  text-align: center !important; }

@media (min-width: 576px) {
  .x-text-sm-left {
    text-align: left !important; }

  .x-text-sm-right {
    text-align: right !important; }

  .x-text-sm-center {
    text-align: center !important; } }
@media (min-width: 768px) {
  .x-text-md-left {
    text-align: left !important; }

  .x-text-md-right {
    text-align: right !important; }

  .x-text-md-center {
    text-align: center !important; } }
@media (min-width: 992px) {
  .x-text-lg-left {
    text-align: left !important; }

  .x-text-lg-right {
    text-align: right !important; }

  .x-text-lg-center {
    text-align: center !important; } }
@media (min-width: 1200px) {
  .x-text-xl-left {
    text-align: left !important; }

  .x-text-xl-right {
    text-align: right !important; }

  .x-text-xl-center {
    text-align: center !important; } }
.x-text-lowercase {
  text-transform: lowercase !important; }

.x-text-uppercase {
  text-transform: uppercase !important; }

.x-text-capitalize {
  text-transform: capitalize !important; }

.fw-light {
  font-weight: 300 !important; }

.fw-lighter {
  font-weight: lighter !important; }

.fw-normal {
  font-weight: 400 !important; }

.fw-bold {
  font-weight: 700 !important; }

.fw-bolder {
  font-weight: bolder !important; }

.f-italic {
  font-style: italic !important; }

.x-text-white {
  color: #fff !important; }

.x-text-primary {
  color: #4B71DB !important; }

.x-text-secondary {
  color: #4B71DB !important; }

.x-text-success {
  color: #44AF57 !important; }

.x-text-danger {
  color: #E23232 !important; }

.x-text-light {
  color: #F2F7FB !important; }

.x-text-dark {
  color: #212A47 !important; }

.x-text-muted {
  color: #F2F7FB !important; }

.clear::after {
  display: block;
  clear: both;
  content: ""; }

.m-0 {
  margin: 0 !important; }

.mt-0,
.my-0 {
  margin-top: 0 !important; }

.mr-0,
.mx-0 {
  margin-right: 0 !important; }

.mb-0,
.my-0 {
  margin-bottom: 0 !important; }

.ml-0,
.mx-0 {
  margin-left: 0 !important; }

.m-1 {
  margin: 0.25rem !important; }

.mt-1,
.my-1 {
  margin-top: 0.25rem !important; }

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important; }

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important; }

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important; }

.m-2 {
  margin: 0.5rem !important; }

.mt-2,
.my-2 {
  margin-top: 0.5rem !important; }

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important; }

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important; }

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important; }

.m-3 {
  margin: 1rem !important; }

.mt-3,
.my-3 {
  margin-top: 1rem !important; }

.mr-3,
.mx-3 {
  margin-right: 1rem !important; }

.mb-3,
.my-3 {
  margin-bottom: 1rem !important; }

.ml-3,
.mx-3 {
  margin-left: 1rem !important; }

.m-4 {
  margin: 1.5rem !important; }

.mt-4,
.my-4 {
  margin-top: 1.5rem !important; }

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important; }

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important; }

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important; }

.m-5 {
  margin: 3rem !important; }

.mt-5,
.my-5 {
  margin-top: 3rem !important; }

.mr-5,
.mx-5 {
  margin-right: 3rem !important; }

.mb-5,
.my-5 {
  margin-bottom: 3rem !important; }

.ml-5,
.mx-5 {
  margin-left: 3rem !important; }

.p-0 {
  padding: 0 !important; }

.pt-0,
.py-0 {
  padding-top: 0 !important; }

.pr-0,
.px-0 {
  padding-right: 0 !important; }

.pb-0,
.py-0 {
  padding-bottom: 0 !important; }

.pl-0,
.px-0 {
  padding-left: 0 !important; }

.p-1 {
  padding: 0.25rem !important; }

.pt-1,
.py-1 {
  padding-top: 0.25rem !important; }

.pr-1,
.px-1 {
  padding-right: 0.25rem !important; }

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important; }

.pl-1,
.px-1 {
  padding-left: 0.25rem !important; }

.p-2 {
  padding: 0.5rem !important; }

.pt-2,
.py-2 {
  padding-top: 0.5rem !important; }

.pr-2,
.px-2 {
  padding-right: 0.5rem !important; }

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important; }

.pl-2,
.px-2 {
  padding-left: 0.5rem !important; }

.p-3 {
  padding: 1rem !important; }

.pt-3,
.py-3 {
  padding-top: 1rem !important; }

.pr-3,
.px-3 {
  padding-right: 1rem !important; }

.pb-3,
.py-3 {
  padding-bottom: 1rem !important; }

.pl-3,
.px-3 {
  padding-left: 1rem !important; }

.p-4 {
  padding: 1.5rem !important; }

.pt-4,
.py-4 {
  padding-top: 1.5rem !important; }

.pr-4,
.px-4 {
  padding-right: 1.5rem !important; }

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important; }

.pl-4,
.px-4 {
  padding-left: 1.5rem !important; }

.p-5 {
  padding: 3rem !important; }

.pt-5,
.py-5 {
  padding-top: 3rem !important; }

.pr-5,
.px-5 {
  padding-right: 3rem !important; }

.pb-5,
.py-5 {
  padding-bottom: 3rem !important; }

.pl-5,
.px-5 {
  padding-left: 3rem !important; }

.m-auto {
  margin: auto !important; }

.mt-auto,
.my-auto {
  margin-top: auto !important; }

.mr-auto,
.mx-auto {
  margin-right: auto !important; }

.mb-auto,
.my-auto {
  margin-bottom: auto !important; }

.ml-auto,
.mx-auto {
  margin-left: auto !important; }

@media (min-width: 576px) {
  .m-sm-0 {
    margin: 0 !important; }

  .mt-sm-0,
  .my-sm-0 {
    margin-top: 0 !important; }

  .mr-sm-0,
  .mx-sm-0 {
    margin-right: 0 !important; }

  .mb-sm-0,
  .my-sm-0 {
    margin-bottom: 0 !important; }

  .ml-sm-0,
  .mx-sm-0 {
    margin-left: 0 !important; }

  .m-sm-1 {
    margin: 0.25rem !important; }

  .mt-sm-1,
  .my-sm-1 {
    margin-top: 0.25rem !important; }

  .mr-sm-1,
  .mx-sm-1 {
    margin-right: 0.25rem !important; }

  .mb-sm-1,
  .my-sm-1 {
    margin-bottom: 0.25rem !important; }

  .ml-sm-1,
  .mx-sm-1 {
    margin-left: 0.25rem !important; }

  .m-sm-2 {
    margin: 0.5rem !important; }

  .mt-sm-2,
  .my-sm-2 {
    margin-top: 0.5rem !important; }

  .mr-sm-2,
  .mx-sm-2 {
    margin-right: 0.5rem !important; }

  .mb-sm-2,
  .my-sm-2 {
    margin-bottom: 0.5rem !important; }

  .ml-sm-2,
  .mx-sm-2 {
    margin-left: 0.5rem !important; }

  .m-sm-3 {
    margin: 1rem !important; }

  .mt-sm-3,
  .my-sm-3 {
    margin-top: 1rem !important; }

  .mr-sm-3,
  .mx-sm-3 {
    margin-right: 1rem !important; }

  .mb-sm-3,
  .my-sm-3 {
    margin-bottom: 1rem !important; }

  .ml-sm-3,
  .mx-sm-3 {
    margin-left: 1rem !important; }

  .m-sm-4 {
    margin: 1.5rem !important; }

  .mt-sm-4,
  .my-sm-4 {
    margin-top: 1.5rem !important; }

  .mr-sm-4,
  .mx-sm-4 {
    margin-right: 1.5rem !important; }

  .mb-sm-4,
  .my-sm-4 {
    margin-bottom: 1.5rem !important; }

  .ml-sm-4,
  .mx-sm-4 {
    margin-left: 1.5rem !important; }

  .m-sm-5 {
    margin: 3rem !important; }

  .mt-sm-5,
  .my-sm-5 {
    margin-top: 3rem !important; }

  .mr-sm-5,
  .mx-sm-5 {
    margin-right: 3rem !important; }

  .mb-sm-5,
  .my-sm-5 {
    margin-bottom: 3rem !important; }

  .ml-sm-5,
  .mx-sm-5 {
    margin-left: 3rem !important; }

  .p-sm-0 {
    padding: 0 !important; }

  .pt-sm-0,
  .py-sm-0 {
    padding-top: 0 !important; }

  .pr-sm-0,
  .px-sm-0 {
    padding-right: 0 !important; }

  .pb-sm-0,
  .py-sm-0 {
    padding-bottom: 0 !important; }

  .pl-sm-0,
  .px-sm-0 {
    padding-left: 0 !important; }

  .p-sm-1 {
    padding: 0.25rem !important; }

  .pt-sm-1,
  .py-sm-1 {
    padding-top: 0.25rem !important; }

  .pr-sm-1,
  .px-sm-1 {
    padding-right: 0.25rem !important; }

  .pb-sm-1,
  .py-sm-1 {
    padding-bottom: 0.25rem !important; }

  .pl-sm-1,
  .px-sm-1 {
    padding-left: 0.25rem !important; }

  .p-sm-2 {
    padding: 0.5rem !important; }

  .pt-sm-2,
  .py-sm-2 {
    padding-top: 0.5rem !important; }

  .pr-sm-2,
  .px-sm-2 {
    padding-right: 0.5rem !important; }

  .pb-sm-2,
  .py-sm-2 {
    padding-bottom: 0.5rem !important; }

  .pl-sm-2,
  .px-sm-2 {
    padding-left: 0.5rem !important; }

  .p-sm-3 {
    padding: 1rem !important; }

  .pt-sm-3,
  .py-sm-3 {
    padding-top: 1rem !important; }

  .pr-sm-3,
  .px-sm-3 {
    padding-right: 1rem !important; }

  .pb-sm-3,
  .py-sm-3 {
    padding-bottom: 1rem !important; }

  .pl-sm-3,
  .px-sm-3 {
    padding-left: 1rem !important; }

  .p-sm-4 {
    padding: 1.5rem !important; }

  .pt-sm-4,
  .py-sm-4 {
    padding-top: 1.5rem !important; }

  .pr-sm-4,
  .px-sm-4 {
    padding-right: 1.5rem !important; }

  .pb-sm-4,
  .py-sm-4 {
    padding-bottom: 1.5rem !important; }

  .pl-sm-4,
  .px-sm-4 {
    padding-left: 1.5rem !important; }

  .p-sm-5 {
    padding: 3rem !important; }

  .pt-sm-5,
  .py-sm-5 {
    padding-top: 3rem !important; }

  .pr-sm-5,
  .px-sm-5 {
    padding-right: 3rem !important; }

  .pb-sm-5,
  .py-sm-5 {
    padding-bottom: 3rem !important; }

  .pl-sm-5,
  .px-sm-5 {
    padding-left: 3rem !important; }

  .m-sm-auto {
    margin: auto !important; }

  .mt-sm-auto,
  .my-sm-auto {
    margin-top: auto !important; }

  .mr-sm-auto,
  .mx-sm-auto {
    margin-right: auto !important; }

  .mb-sm-auto,
  .my-sm-auto {
    margin-bottom: auto !important; }

  .ml-sm-auto,
  .mx-sm-auto {
    margin-left: auto !important; } }
@media (min-width: 768px) {
  .m-md-0 {
    margin: 0 !important; }

  .mt-md-0,
  .my-md-0 {
    margin-top: 0 !important; }

  .mr-md-0,
  .mx-md-0 {
    margin-right: 0 !important; }

  .mb-md-0,
  .my-md-0 {
    margin-bottom: 0 !important; }

  .ml-md-0,
  .mx-md-0 {
    margin-left: 0 !important; }

  .m-md-1 {
    margin: 0.25rem !important; }

  .mt-md-1,
  .my-md-1 {
    margin-top: 0.25rem !important; }

  .mr-md-1,
  .mx-md-1 {
    margin-right: 0.25rem !important; }

  .mb-md-1,
  .my-md-1 {
    margin-bottom: 0.25rem !important; }

  .ml-md-1,
  .mx-md-1 {
    margin-left: 0.25rem !important; }

  .m-md-2 {
    margin: 0.5rem !important; }

  .mt-md-2,
  .my-md-2 {
    margin-top: 0.5rem !important; }

  .mr-md-2,
  .mx-md-2 {
    margin-right: 0.5rem !important; }

  .mb-md-2,
  .my-md-2 {
    margin-bottom: 0.5rem !important; }

  .ml-md-2,
  .mx-md-2 {
    margin-left: 0.5rem !important; }

  .m-md-3 {
    margin: 1rem !important; }

  .mt-md-3,
  .my-md-3 {
    margin-top: 1rem !important; }

  .mr-md-3,
  .mx-md-3 {
    margin-right: 1rem !important; }

  .mb-md-3,
  .my-md-3 {
    margin-bottom: 1rem !important; }

  .ml-md-3,
  .mx-md-3 {
    margin-left: 1rem !important; }

  .m-md-4 {
    margin: 1.5rem !important; }

  .mt-md-4,
  .my-md-4 {
    margin-top: 1.5rem !important; }

  .mr-md-4,
  .mx-md-4 {
    margin-right: 1.5rem !important; }

  .mb-md-4,
  .my-md-4 {
    margin-bottom: 1.5rem !important; }

  .ml-md-4,
  .mx-md-4 {
    margin-left: 1.5rem !important; }

  .m-md-5 {
    margin: 3rem !important; }

  .mt-md-5,
  .my-md-5 {
    margin-top: 3rem !important; }

  .mr-md-5,
  .mx-md-5 {
    margin-right: 3rem !important; }

  .mb-md-5,
  .my-md-5 {
    margin-bottom: 3rem !important; }

  .ml-md-5,
  .mx-md-5 {
    margin-left: 3rem !important; }

  .p-md-0 {
    padding: 0 !important; }

  .pt-md-0,
  .py-md-0 {
    padding-top: 0 !important; }

  .pr-md-0,
  .px-md-0 {
    padding-right: 0 !important; }

  .pb-md-0,
  .py-md-0 {
    padding-bottom: 0 !important; }

  .pl-md-0,
  .px-md-0 {
    padding-left: 0 !important; }

  .p-md-1 {
    padding: 0.25rem !important; }

  .pt-md-1,
  .py-md-1 {
    padding-top: 0.25rem !important; }

  .pr-md-1,
  .px-md-1 {
    padding-right: 0.25rem !important; }

  .pb-md-1,
  .py-md-1 {
    padding-bottom: 0.25rem !important; }

  .pl-md-1,
  .px-md-1 {
    padding-left: 0.25rem !important; }

  .p-md-2 {
    padding: 0.5rem !important; }

  .pt-md-2,
  .py-md-2 {
    padding-top: 0.5rem !important; }

  .pr-md-2,
  .px-md-2 {
    padding-right: 0.5rem !important; }

  .pb-md-2,
  .py-md-2 {
    padding-bottom: 0.5rem !important; }

  .pl-md-2,
  .px-md-2 {
    padding-left: 0.5rem !important; }

  .p-md-3 {
    padding: 1rem !important; }

  .pt-md-3,
  .py-md-3 {
    padding-top: 1rem !important; }

  .pr-md-3,
  .px-md-3 {
    padding-right: 1rem !important; }

  .pb-md-3,
  .py-md-3 {
    padding-bottom: 1rem !important; }

  .pl-md-3,
  .px-md-3 {
    padding-left: 1rem !important; }

  .p-md-4 {
    padding: 1.5rem !important; }

  .pt-md-4,
  .py-md-4 {
    padding-top: 1.5rem !important; }

  .pr-md-4,
  .px-md-4 {
    padding-right: 1.5rem !important; }

  .pb-md-4,
  .py-md-4 {
    padding-bottom: 1.5rem !important; }

  .pl-md-4,
  .px-md-4 {
    padding-left: 1.5rem !important; }

  .p-md-5 {
    padding: 3rem !important; }

  .pt-md-5,
  .py-md-5 {
    padding-top: 3rem !important; }

  .pr-md-5,
  .px-md-5 {
    padding-right: 3rem !important; }

  .pb-md-5,
  .py-md-5 {
    padding-bottom: 3rem !important; }

  .pl-md-5,
  .px-md-5 {
    padding-left: 3rem !important; }

  .m-md-auto {
    margin: auto !important; }

  .mt-md-auto,
  .my-md-auto {
    margin-top: auto !important; }

  .mr-md-auto,
  .mx-md-auto {
    margin-right: auto !important; }

  .mb-md-auto,
  .my-md-auto {
    margin-bottom: auto !important; }

  .ml-md-auto,
  .mx-md-auto {
    margin-left: auto !important; } }
@media (min-width: 992px) {
  .m-lg-0 {
    margin: 0 !important; }

  .mt-lg-0,
  .my-lg-0 {
    margin-top: 0 !important; }

  .mr-lg-0,
  .mx-lg-0 {
    margin-right: 0 !important; }

  .mb-lg-0,
  .my-lg-0 {
    margin-bottom: 0 !important; }

  .ml-lg-0,
  .mx-lg-0 {
    margin-left: 0 !important; }

  .m-lg-1 {
    margin: 0.25rem !important; }

  .mt-lg-1,
  .my-lg-1 {
    margin-top: 0.25rem !important; }

  .mr-lg-1,
  .mx-lg-1 {
    margin-right: 0.25rem !important; }

  .mb-lg-1,
  .my-lg-1 {
    margin-bottom: 0.25rem !important; }

  .ml-lg-1,
  .mx-lg-1 {
    margin-left: 0.25rem !important; }

  .m-lg-2 {
    margin: 0.5rem !important; }

  .mt-lg-2,
  .my-lg-2 {
    margin-top: 0.5rem !important; }

  .mr-lg-2,
  .mx-lg-2 {
    margin-right: 0.5rem !important; }

  .mb-lg-2,
  .my-lg-2 {
    margin-bottom: 0.5rem !important; }

  .ml-lg-2,
  .mx-lg-2 {
    margin-left: 0.5rem !important; }

  .m-lg-3 {
    margin: 1rem !important; }

  .mt-lg-3,
  .my-lg-3 {
    margin-top: 1rem !important; }

  .mr-lg-3,
  .mx-lg-3 {
    margin-right: 1rem !important; }

  .mb-lg-3,
  .my-lg-3 {
    margin-bottom: 1rem !important; }

  .ml-lg-3,
  .mx-lg-3 {
    margin-left: 1rem !important; }

  .m-lg-4 {
    margin: 1.5rem !important; }

  .mt-lg-4,
  .my-lg-4 {
    margin-top: 1.5rem !important; }

  .mr-lg-4,
  .mx-lg-4 {
    margin-right: 1.5rem !important; }

  .mb-lg-4,
  .my-lg-4 {
    margin-bottom: 1.5rem !important; }

  .ml-lg-4,
  .mx-lg-4 {
    margin-left: 1.5rem !important; }

  .m-lg-5 {
    margin: 3rem !important; }

  .mt-lg-5,
  .my-lg-5 {
    margin-top: 3rem !important; }

  .mr-lg-5,
  .mx-lg-5 {
    margin-right: 3rem !important; }

  .mb-lg-5,
  .my-lg-5 {
    margin-bottom: 3rem !important; }

  .ml-lg-5,
  .mx-lg-5 {
    margin-left: 3rem !important; }

  .p-lg-0 {
    padding: 0 !important; }

  .pt-lg-0,
  .py-lg-0 {
    padding-top: 0 !important; }

  .pr-lg-0,
  .px-lg-0 {
    padding-right: 0 !important; }

  .pb-lg-0,
  .py-lg-0 {
    padding-bottom: 0 !important; }

  .pl-lg-0,
  .px-lg-0 {
    padding-left: 0 !important; }

  .p-lg-1 {
    padding: 0.25rem !important; }

  .pt-lg-1,
  .py-lg-1 {
    padding-top: 0.25rem !important; }

  .pr-lg-1,
  .px-lg-1 {
    padding-right: 0.25rem !important; }

  .pb-lg-1,
  .py-lg-1 {
    padding-bottom: 0.25rem !important; }

  .pl-lg-1,
  .px-lg-1 {
    padding-left: 0.25rem !important; }

  .p-lg-2 {
    padding: 0.5rem !important; }

  .pt-lg-2,
  .py-lg-2 {
    padding-top: 0.5rem !important; }

  .pr-lg-2,
  .px-lg-2 {
    padding-right: 0.5rem !important; }

  .pb-lg-2,
  .py-lg-2 {
    padding-bottom: 0.5rem !important; }

  .pl-lg-2,
  .px-lg-2 {
    padding-left: 0.5rem !important; }

  .p-lg-3 {
    padding: 1rem !important; }

  .pt-lg-3,
  .py-lg-3 {
    padding-top: 1rem !important; }

  .pr-lg-3,
  .px-lg-3 {
    padding-right: 1rem !important; }

  .pb-lg-3,
  .py-lg-3 {
    padding-bottom: 1rem !important; }

  .pl-lg-3,
  .px-lg-3 {
    padding-left: 1rem !important; }

  .p-lg-4 {
    padding: 1.5rem !important; }

  .pt-lg-4,
  .py-lg-4 {
    padding-top: 1.5rem !important; }

  .pr-lg-4,
  .px-lg-4 {
    padding-right: 1.5rem !important; }

  .pb-lg-4,
  .py-lg-4 {
    padding-bottom: 1.5rem !important; }

  .pl-lg-4,
  .px-lg-4 {
    padding-left: 1.5rem !important; }

  .p-lg-5 {
    padding: 3rem !important; }

  .pt-lg-5,
  .py-lg-5 {
    padding-top: 3rem !important; }

  .pr-lg-5,
  .px-lg-5 {
    padding-right: 3rem !important; }

  .pb-lg-5,
  .py-lg-5 {
    padding-bottom: 3rem !important; }

  .pl-lg-5,
  .px-lg-5 {
    padding-left: 3rem !important; }

  .m-lg-auto {
    margin: auto !important; }

  .mt-lg-auto,
  .my-lg-auto {
    margin-top: auto !important; }

  .mr-lg-auto,
  .mx-lg-auto {
    margin-right: auto !important; }

  .mb-lg-auto,
  .my-lg-auto {
    margin-bottom: auto !important; }

  .ml-lg-auto,
  .mx-lg-auto {
    margin-left: auto !important; } }
@media (min-width: 1200px) {
  .m-xl-0 {
    margin: 0 !important; }

  .mt-xl-0,
  .my-xl-0 {
    margin-top: 0 !important; }

  .mr-xl-0,
  .mx-xl-0 {
    margin-right: 0 !important; }

  .mb-xl-0,
  .my-xl-0 {
    margin-bottom: 0 !important; }

  .ml-xl-0,
  .mx-xl-0 {
    margin-left: 0 !important; }

  .m-xl-1 {
    margin: 0.25rem !important; }

  .mt-xl-1,
  .my-xl-1 {
    margin-top: 0.25rem !important; }

  .mr-xl-1,
  .mx-xl-1 {
    margin-right: 0.25rem !important; }

  .mb-xl-1,
  .my-xl-1 {
    margin-bottom: 0.25rem !important; }

  .ml-xl-1,
  .mx-xl-1 {
    margin-left: 0.25rem !important; }

  .m-xl-2 {
    margin: 0.5rem !important; }

  .mt-xl-2,
  .my-xl-2 {
    margin-top: 0.5rem !important; }

  .mr-xl-2,
  .mx-xl-2 {
    margin-right: 0.5rem !important; }

  .mb-xl-2,
  .my-xl-2 {
    margin-bottom: 0.5rem !important; }

  .ml-xl-2,
  .mx-xl-2 {
    margin-left: 0.5rem !important; }

  .m-xl-3 {
    margin: 1rem !important; }

  .mt-xl-3,
  .my-xl-3 {
    margin-top: 1rem !important; }

  .mr-xl-3,
  .mx-xl-3 {
    margin-right: 1rem !important; }

  .mb-xl-3,
  .my-xl-3 {
    margin-bottom: 1rem !important; }

  .ml-xl-3,
  .mx-xl-3 {
    margin-left: 1rem !important; }

  .m-xl-4 {
    margin: 1.5rem !important; }

  .mt-xl-4,
  .my-xl-4 {
    margin-top: 1.5rem !important; }

  .mr-xl-4,
  .mx-xl-4 {
    margin-right: 1.5rem !important; }

  .mb-xl-4,
  .my-xl-4 {
    margin-bottom: 1.5rem !important; }

  .ml-xl-4,
  .mx-xl-4 {
    margin-left: 1.5rem !important; }

  .m-xl-5 {
    margin: 3rem !important; }

  .mt-xl-5,
  .my-xl-5 {
    margin-top: 3rem !important; }

  .mr-xl-5,
  .mx-xl-5 {
    margin-right: 3rem !important; }

  .mb-xl-5,
  .my-xl-5 {
    margin-bottom: 3rem !important; }

  .ml-xl-5,
  .mx-xl-5 {
    margin-left: 3rem !important; }

  .p-xl-0 {
    padding: 0 !important; }

  .pt-xl-0,
  .py-xl-0 {
    padding-top: 0 !important; }

  .pr-xl-0,
  .px-xl-0 {
    padding-right: 0 !important; }

  .pb-xl-0,
  .py-xl-0 {
    padding-bottom: 0 !important; }

  .pl-xl-0,
  .px-xl-0 {
    padding-left: 0 !important; }

  .p-xl-1 {
    padding: 0.25rem !important; }

  .pt-xl-1,
  .py-xl-1 {
    padding-top: 0.25rem !important; }

  .pr-xl-1,
  .px-xl-1 {
    padding-right: 0.25rem !important; }

  .pb-xl-1,
  .py-xl-1 {
    padding-bottom: 0.25rem !important; }

  .pl-xl-1,
  .px-xl-1 {
    padding-left: 0.25rem !important; }

  .p-xl-2 {
    padding: 0.5rem !important; }

  .pt-xl-2,
  .py-xl-2 {
    padding-top: 0.5rem !important; }

  .pr-xl-2,
  .px-xl-2 {
    padding-right: 0.5rem !important; }

  .pb-xl-2,
  .py-xl-2 {
    padding-bottom: 0.5rem !important; }

  .pl-xl-2,
  .px-xl-2 {
    padding-left: 0.5rem !important; }

  .p-xl-3 {
    padding: 1rem !important; }

  .pt-xl-3,
  .py-xl-3 {
    padding-top: 1rem !important; }

  .pr-xl-3,
  .px-xl-3 {
    padding-right: 1rem !important; }

  .pb-xl-3,
  .py-xl-3 {
    padding-bottom: 1rem !important; }

  .pl-xl-3,
  .px-xl-3 {
    padding-left: 1rem !important; }

  .p-xl-4 {
    padding: 1.5rem !important; }

  .pt-xl-4,
  .py-xl-4 {
    padding-top: 1.5rem !important; }

  .pr-xl-4,
  .px-xl-4 {
    padding-right: 1.5rem !important; }

  .pb-xl-4,
  .py-xl-4 {
    padding-bottom: 1.5rem !important; }

  .pl-xl-4,
  .px-xl-4 {
    padding-left: 1.5rem !important; }

  .p-xl-5 {
    padding: 3rem !important; }

  .pt-xl-5,
  .py-xl-5 {
    padding-top: 3rem !important; }

  .pr-xl-5,
  .px-xl-5 {
    padding-right: 3rem !important; }

  .pb-xl-5,
  .py-xl-5 {
    padding-bottom: 3rem !important; }

  .pl-xl-5,
  .px-xl-5 {
    padding-left: 3rem !important; }

  .m-xl-auto {
    margin: auto !important; }

  .mt-xl-auto,
  .my-xl-auto {
    margin-top: auto !important; }

  .mr-xl-auto,
  .mx-xl-auto {
    margin-right: auto !important; }

  .mb-xl-auto,
  .my-xl-auto {
    margin-bottom: auto !important; }

  .ml-xl-auto,
  .mx-xl-auto {
    margin-left: auto !important; } }
.x-d-none {
  display: none !important; }

.x-d-inline {
  display: inline !important; }

.x-d-inline-block {
  display: inline-block !important; }

.x-d-block {
  display: block !important; }

.x-d-table {
  display: table !important; }

.x-d-table-row {
  display: table-row !important; }

.x-d-table-cell {
  display: table-cell !important; }

.x-d-flex {
  display: flex !important; }

.x-d-inline-flex {
  display: inline-flex !important; }

@media (min-width: 576px) {
  .x-d-sm-none {
    display: none !important; }

  .x-d-sm-inline {
    display: inline !important; }

  .x-d-sm-inline-block {
    display: inline-block !important; }

  .x-d-sm-block {
    display: block !important; }

  .x-d-sm-table {
    display: table !important; }

  .x-d-sm-table-row {
    display: table-row !important; }

  .x-d-sm-table-cell {
    display: table-cell !important; }

  .x-d-sm-flex {
    display: flex !important; }

  .x-d-sm-inline-flex {
    display: inline-flex !important; } }
@media (min-width: 768px) {
  .x-d-md-none {
    display: none !important; }

  .x-d-md-inline {
    display: inline !important; }

  .x-d-md-inline-block {
    display: inline-block !important; }

  .x-d-md-block {
    display: block !important; }

  .x-d-md-table {
    display: table !important; }

  .x-d-md-table-row {
    display: table-row !important; }

  .x-d-md-table-cell {
    display: table-cell !important; }

  .x-d-md-flex {
    display: flex !important; }

  .x-d-md-inline-flex {
    display: inline-flex !important; } }
@media (min-width: 992px) {
  .x-d-lg-none {
    display: none !important; }

  .x-d-lg-inline {
    display: inline !important; }

  .x-d-lg-inline-block {
    display: inline-block !important; }

  .x-d-lg-block {
    display: block !important; }

  .x-d-lg-table {
    display: table !important; }

  .x-d-lg-table-row {
    display: table-row !important; }

  .x-d-lg-table-cell {
    display: table-cell !important; }

  .x-d-lg-flex {
    display: flex !important; }

  .x-d-lg-inline-flex {
    display: inline-flex !important; } }
@media (min-width: 1200px) {
  .x-d-xl-none {
    display: none !important; }

  .x-d-xl-inline {
    display: inline !important; }

  .x-d-xl-inline-block {
    display: inline-block !important; }

  .x-d-xl-block {
    display: block !important; }

  .x-d-xl-table {
    display: table !important; }

  .x-d-xl-table-row {
    display: table-row !important; }

  .x-d-xl-table-cell {
    display: table-cell !important; }

  .x-d-xl-flex {
    display: flex !important; }

  .x-d-xl-inline-flex {
    display: inline-flex !important; } }

/*# sourceMappingURL=style.css.map */
