<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CrossPay</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div id="payForm" class="x-modal" v-if="payForm.config.show" v-bind:class="payFormClass()">
        <script v-if="!this.payForm.config.dataReady">var XDATA = '';</script>
        <div class="x-modal-dialog x-modal-dialog-centered">
            <div class="x-modal-content">
                <div class="x-modal-header">
                    <img src="img/logo.svg" width="130" height="40" alt="Logo">{{payForm.fields.cardCvv.hiddenValue}}
                    <button v-on:click="payForm.config.show=false" class="x-btn-modal-close" type="button">
                        <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 2.18849C0.397314 1.80205 0.800224 1.4156 1.19754 1.02355C1.45495 0.771522 1.71237 0.50829 1.96419 0.25066C4.62227 2.91658 7.27476 5.5713 9.93845 8.24282C12.6413 5.53769 15.2994 2.87737 17.9463 0.222656C18.6402 0.911539 19.2893 1.56682 19.944 2.2165C17.2915 4.86561 14.6391 7.52593 11.981 10.1863C14.667 12.8746 17.3195 15.5293 20 18.212C19.446 18.7665 18.9144 19.2873 18.394 19.8138C18.2652 19.9426 18.1477 20.0882 18.019 20.2227C18.0022 20.2227 17.9799 20.2227 17.9631 20.2227C17.9407 20.1947 17.9239 20.161 17.8959 20.133C15.3106 17.5455 12.7252 14.958 10.1399 12.3705C10.0951 12.3257 10.0448 12.2865 9.98881 12.2361C9.92166 12.2977 9.8601 12.3537 9.80414 12.4097C7.25238 14.9636 4.70062 17.5175 2.14885 20.0714C2.10409 20.1162 2.06491 20.1666 2.02015 20.2171C2.00336 20.2171 1.98097 20.2171 1.96419 20.2171C1.70118 19.9426 1.44936 19.6626 1.18075 19.3994C0.794628 19.0129 0.397314 18.6377 0.00559597 18.2568C0.00559597 18.24 0.00559597 18.2176 0.00559597 18.2008C0.0279799 18.184 0.0503637 18.1728 0.0727476 18.1504C2.67487 15.5461 5.277 12.9418 7.87913 10.3375C7.9183 10.2983 7.94628 10.2535 8.01343 10.1694C7.92389 10.1022 7.83436 10.0462 7.76161 9.97343C5.24902 7.48113 2.74762 4.97203 0.240627 2.46853C0.162283 2.39012 0.0783436 2.31731 0 2.2389C0 2.2221 0 2.20529 0 2.18849Z" fill="white"/>
                        </svg>
                    </button>
                </div>
                <div class="x-modal-body">
                    <div class="x-body-top clear">
                        <div class="x-fl-left">{{payForm.vocabulary.payNum}} №: {{payForm.payment.order}}</div>
                        <div class="x-fl-right">
                            <img src="img/visa-circles.svg" width="20" height="12">
                            <img src="img/visa.svg" width="28" height="10">
                            <img src="img/prostir.svg" width="47" height="10">
                        </div>
                    </div>
                    <div class="x-body-content">
                        <div class="x-body-content__inner" v-bind:class="{'x-containerized': !payForm.payment.confirmationReady}">
                            <template v-if="payForm.payment.status && !payForm.payment.confirmationProcess && !payForm.payment.confirmationReady">
                                <div class="" v-html="payForm.payment.bankFrame"></div>
                            </template>
                            <template v-else-if="!payForm.payment.confirmationReady && !payForm.payment.status">
                                <div class="x-text-center fs-large fw-bold" v-bind:class="{'mb-2': payForm.vocabulary.attention.active, 'mb-2 mb-sm-4': !payForm.vocabulary.attention.active}">{{payForm.vocabulary.sum}}: {{payForm.payment.total}}</div>
                                <div class="x-msg-info x-wrapped fs-extra-small mb-3 mb-sm-4" v-if="payForm.vocabulary.attention.active" v-html="payForm.vocabulary.attention.message"></div>

                                <!-- google pay and apple pay buttons -->
                                <div class="clear mb-3 mb-sm-4">
                                    <div class="w-100 w-sm-50 pr-sm-2 mb-2 mb-sm-0 x-fl-left">
                                        <a href="#" class="x-btn x-btn-outline-primary">
                                            <img src="img/g-pay.svg" height="20" width="51">
                                        </a>
                                    </div>
                                    <div class="w-100 w-sm-50 pl-sm-2 x-fl-right">
                                        <a href="#" class="x-btn x-btn-outline-primary">
                                            <img src="img/a-pay.svg" height="20" width="49">
                                        </a>
                                    </div>
                                </div>

                                <form id="" name="payForm">
                                    <div class="x-input-container mb-3 mb-sm-2">
                                        <label for="cardNumber">{{payForm.fields.cardNumber.label}}</label>
                                        <div id="x-input-body-cardNumber" class="x-input-body x-input-body-cardNumber x-input-body-wide"
                                             v-bind:class="inputBodyCardNumberClass()">
                                            <input v-model="payForm.fields.cardNumber.rawValue"
                                                    v-on:paste="setTimeout(function() { handleCreditCardNumberPaste(); }, 1);"
                                                    v-bind:maxlength="payForm.fields.cardNumber.mask.length"
                                                    v-on:focus="handleCreditCardNumberFocus"
                                                    v-on:blur="handleCreditCardNumberBlur"
                                                    v-bind:readonly="payForm.fields.cardNumber.readonly"
                                                    name="cardNumber"
                                                    ref="cardNumber"
                                                    id="cardNumber"
                                                    class="x-input"
                                                    type="tel"
                                                    x-autocompletetype="cc-number"
                                                    autocompletetype="cc-number"
                                                    autocorrect="off"
                                                    spellcheck="false"
                                                    autocapitalize="off">
                                            <div class="x-input-error-block"
                                                 v-if="payForm.fields.cardNumber.error"
                                                 v-html="payForm.fields.cardNumber.errorMessage"></div>
                                        </div>
                                    </div>

                                    <div class="clear mb-2 mb-sm-2">
                                        <div class="w-50 pr-2 x-input-container x-fl-left">
                                            <label for="expiryDate">{{payForm.fields.expiryDate.label}}</label>
                                            <div class="x-input-body x-input-body-expiryDate"
                                                 v-bind:class="{'is-empty': this.payForm.fields.expiryDate.rawValue.length === 0,
                                                 'is-active': this.payForm.fields.expiryDate.active,
                                                 'has-error': this.payForm.fields.expiryDate.error}">
                                                <input v-model="payForm.fields.expiryDate.rawValue"
                                                       v-on:paste="setTimeout(function() { handleExpiryPaste(); }, 1);"
                                                       v-bind:maxlength="payForm.fields.expiryDate.mask.length"
                                                       v-on:focus="handleExpiryFocus"
                                                       v-on:blur="handleExpiryBlur"
                                                       v-bind:readonly="payForm.fields.expiryDate.readonly"
                                                       x-autocompletetype="cc-exp"
                                                       autocompletetype="cc-exp"
                                                       autocorrect="off"
                                                       autocapitalize="off"
                                                       spellcheck="false"
                                                       name="expiryDate"
                                                       id="expiryDate"
                                                       class="x-input"
                                                       type="tel">
                                                <div class="x-input-error-block"
                                                     v-if="payForm.fields.expiryDate.error"
                                                     v-html="payForm.fields.expiryDate.errorMessage"></div>
                                            </div>
                                        </div>

                                        <div class="w-50 pl-2 x-input-container x-fl-right">
                                            <label for="cardCvv">{{payForm.fields.cardCvv.label}}</label>
                                            <div id="cardCvv-body" class="x-input-body x-input-body-cardCvv"
                                                 v-bind:class="cvvInputBodyClass()">
                                                <input x-autocompletetype="cc-csc"
                                                       autocompletetype="cc-csc"
                                                       autocorrect="off"
                                                       autocomplete="true"
                                                       autocapitalize="off"
                                                       spellcheck="false"
                                                       id="cardCvvHidden"
                                                       type="tel"
                                                       class="x-invisible"
                                                       maxlength="3">
                                                <input v-bind:value="bindHiddenValue( this.payForm.fields.cardCvv.rawValue.length )"
                                                       v-on:click="cvvClick"
                                                       v-on:focus="handleCvvFocus"
                                                       v-on:blur="handleCvvBlur"
                                                       v-on:paste="setTimeout(function(e) { return false; }, 1);"
                                                       name="cardCvv"
                                                       id="cardCvv"
                                                       class="x-input"
                                                       type="tel"
                                                       v-bind:readonly="payForm.fields.cardCvv.readonly">
                                                <div class="x-input-masked-value" v-html="cardCvvMaskContent()"></div>
                                                <div class="x-input-helper"
                                                     v-bind:class="{'is-active': payForm.fields.cardCvv.helper}"
                                                     v-on:click="payForm.fields.cardCvv.helper=true; payForm.fields.cardCvv.active=false">
                                                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M0 7.93939C0 7.64791 0 7.35209 0 7.06062C0.0087007 7.01711 0.0217518 6.97796 0.0261021 6.93446C0.108759 5.75986 0.448086 4.66357 1.06149 3.66299C2.24913 1.72274 3.96752 0.535093 6.20795 0.117459C6.49072 0.0652552 6.77785 0.0391531 7.06062 0C7.35209 0 7.64792 0 7.93939 0C7.97854 0.0087007 8.01335 0.0217517 8.0525 0.0261021C9.10528 0.0957077 10.1059 0.36978 11.0194 0.883121C13.4774 2.26218 14.8129 4.3721 14.987 7.18678C15.0696 8.52668 14.7825 9.81439 14.1299 10.9933C12.7552 13.4687 10.6453 14.8216 7.81758 14.987C6.20795 15.0827 4.71143 14.6563 3.37152 13.7558C1.59658 12.5595 0.508991 10.902 0.12181 8.7964C0.0652553 8.50928 0.0391532 8.22216 0 7.93939ZM7.56526 3.1018C6.76915 3.09745 6.05134 3.31932 5.44664 3.84136C4.95505 4.26334 4.64617 4.78973 4.59832 5.45534C4.57657 5.76856 4.72448 5.99478 4.9768 6.14704C5.39443 6.40371 5.87297 6.2123 6.06874 5.72941C6.15575 5.51624 6.2297 5.29872 6.32976 5.09426C6.45592 4.83324 6.61253 4.58962 6.89096 4.46346C7.27379 4.28944 7.66967 4.27204 8.0612 4.41125C8.77901 4.66357 9.02263 5.47709 8.59194 6.02523C8.50929 6.12964 8.42228 6.2297 8.33092 6.31671C7.97419 6.65603 7.60441 6.98231 7.25203 7.33034C6.8083 7.76972 6.62123 8.31787 6.65604 8.93997C6.67779 9.34455 6.92576 9.60122 7.31294 9.63602C7.69577 9.66647 7.94809 9.47506 8.04815 9.07918C8.0699 8.99217 8.096 8.90951 8.10905 8.82251C8.16561 8.50493 8.31787 8.23956 8.55714 8.02204C8.93562 7.67401 9.3054 7.32164 9.68388 6.97796C10.8324 5.92517 10.4974 4.41125 9.49247 3.68475C8.91822 3.25841 8.26567 3.1018 7.56526 3.1018ZM8.29177 11.0455C8.30047 10.5539 7.93504 10.1711 7.4478 10.1624C6.94316 10.1537 6.55163 10.5235 6.54293 11.0194C6.53423 11.5197 6.89966 11.8852 7.4043 11.8939C7.91764 11.9069 8.28742 11.5502 8.29177 11.0455Z" fill="#DBE6F2"/>
                                                    </svg>
                                                </div>
                                                <div v-if="this.payForm.fields.cardCvv.helper" class="x-input-body-cardCvv__addon-helper">
                                                    <div class="helper-types" v-html="getCardTypesStr()"></div>
                                                    <div class="helper-description" v-html="payForm.fields.cardCvv.helperDescription"></div>
                                                    <img class="mx-auto my-0" src="img/card-icon.png" height="70" width="109">
                                                </div>
                                                <div v-if="this.payForm.fields.cardCvv.active" class="x-input-body-cardCvv__addon">
                                                    <button class="btn-num" v-on:click="cardCvvNumClick"
                                                            v-for="(value, index) in this.payForm.fields.cardCvv.elements"
                                                            v-bind:value="value">{{value}}
                                                    </button>
                                                    <button v-if="!payForm.config.matchMedia.md" class="btn-backspace" v-on:click="cardCvvNumClickDelete">
                                                        <svg width="23" height="14" viewBox="0 0 23 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M23 2.16405C23 1.81619 22.9974 1.46833 22.849 1.14643C22.5112 0.409178 21.9406 0.0145928 21.1371 0.00420896C20.093 -0.00877083 19.0464 0.001613 18.0023 0.001613C16.1394 0.001613 14.2739 0.001613 12.411 0.00420896C10.4227 0.00420896 8.43692 0.00420896 6.4486 0.00420896C6.27715 0.00420896 6.1057 0.0119968 5.9368 -0.000982955C5.81653 -0.00877083 5.74232 0.0379564 5.66811 0.128815C4.6522 1.33853 3.63117 2.54825 2.61015 3.75796C1.76057 4.7626 0.910992 5.76724 0.0614152 6.77187C0.0435024 6.79523 0.0204717 6.81341 0 6.83677C0 6.9484 0 7.06262 0 7.17424C0.301958 7.5247 0.606475 7.87515 0.905875 8.2282C2.29028 9.86625 3.67468 11.5069 5.05908 13.1449C5.27659 13.4019 5.48899 13.6615 5.70906 13.9108C5.75 13.9575 5.82933 13.9964 5.89074 13.9964C8.5188 14.0016 11.1443 14.0016 13.7724 14.0016C16.2085 14.0016 18.6421 14.0016 21.0782 14.0016C22.2042 14.0016 23 13.1917 23 12.0443C23 8.74999 22.9974 5.45572 23 2.16405ZM15.3001 10.1103C14.5042 9.30293 13.7007 8.4852 12.8946 7.66488C12.0783 8.49299 11.2723 9.31072 10.4739 10.1207C10.2487 9.89221 10.0388 9.67934 9.82899 9.46648C10.6248 8.66173 11.4335 7.8466 12.2395 7.02887C11.4079 6.18778 10.6018 5.37265 9.80085 4.56271C10.0363 4.32648 10.2487 4.11101 10.4713 3.88517C11.2646 4.68991 12.0706 5.51024 12.8844 6.33575C13.6956 5.51024 14.4966 4.6951 15.2975 3.87997C15.5176 4.10842 15.7274 4.32648 15.9424 4.54713C15.1491 5.34929 14.343 6.16442 13.5344 6.98214C14.3558 7.81025 15.1619 8.62538 15.9628 9.43532C15.73 9.67415 15.5176 9.88962 15.3001 10.1103Z"/>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <button id="btn-pay" v-on:click="sendPayment" v-bind:disabled="!checkField(['cardNumber', 'expiryDate', 'cardCvv']) || payForm.payment.statusProcess"
                                            type="button"
                                            class="x-btn x-btn-primary x-btn-wide mb-sm-4 mb-sm-3"
                                            v-bind:class="{'x-disabled': !checkField(['cardNumber', 'expiryDate', 'cardCvv'])}">
                                        <svg v-if="!payForm.payment.statusProcess && !checkField(['cardNumber', 'expiryDate', 'cardCvv'])" class="x-btn-icon-left" width="16" height="22" viewBox="0 0 16 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M2.6342 7.95986C2.6342 7.71428 2.6342 7.47827 2.6342 7.23906C2.6342 6.32052 2.61504 5.3988 2.8194 4.49621C3.07803 3.35441 3.51866 2.29235 4.36479 1.44079C5.09279 0.710425 5.97724 0.27986 6.98942 0.104445C7.97285 -0.0645919 8.9531 -0.048645 9.9046 0.257534C11.533 0.780591 12.5612 1.90963 13.1231 3.49793C13.3722 4.20278 13.436 4.93634 13.4488 5.67627C13.4616 6.43534 13.452 7.19122 13.452 7.95029C13.6691 7.98219 13.8862 8.00132 14.097 8.04916C15.0517 8.26285 15.8244 9.09527 15.9649 10.0585C15.9872 10.2147 16 10.3742 16 10.5337C16.0032 13.4838 16.0032 16.434 16 19.3842C16 20.3537 15.5817 21.1001 14.7547 21.6072C14.3652 21.8464 13.9341 21.9421 13.4775 21.9421C9.81839 21.9421 6.15605 21.9452 2.4969 21.9389C1.11115 21.9357 0.00957892 20.8385 0.00638595 19.4639C-0.00319297 16.4404 0 13.4169 0.00319297 10.3933C0.00638595 9.19096 0.999401 8.10976 2.19996 7.99175C2.34364 7.979 2.48733 7.96943 2.6342 7.95986ZM11.5139 7.95986C11.5107 7.87056 11.5011 7.7972 11.5011 7.72385C11.4979 7.05408 11.5075 6.3875 11.4947 5.71773C11.4851 5.05753 11.4245 4.4069 11.1403 3.79454C10.7635 2.97807 10.1792 2.38803 9.30752 2.12013C8.72001 1.93833 8.11654 1.92238 7.50987 1.99893C6.41149 2.13607 5.61644 2.6974 5.13749 3.69567C4.77349 4.45793 4.60107 5.26803 4.59788 6.11322C4.59469 6.72876 4.59788 7.34112 4.59788 7.96305C6.9064 7.95986 9.20215 7.95986 11.5139 7.95986ZM9.30432 18.3413C9.2692 18.1148 9.24366 17.9139 9.21173 17.7161C9.08081 16.8901 8.94671 16.064 8.8126 15.238C8.79664 15.1328 8.8126 15.0753 8.92117 15.0179C9.45759 14.7181 9.79285 14.2652 9.87906 13.6497C9.98443 12.8938 9.7258 12.2687 9.10636 11.8318C8.47096 11.3821 7.77489 11.347 7.09479 11.7329C6.44023 12.1028 6.11454 12.6897 6.14328 13.4456C6.16882 14.1472 6.51686 14.6703 7.12033 15.0211C7.19377 15.0626 7.23208 15.1009 7.21612 15.1933C7.0884 15.8759 6.96707 16.5584 6.84573 17.2409C6.78187 17.6077 6.72121 17.9777 6.66373 18.3413C7.5418 18.3413 8.41029 18.3413 9.30432 18.3413Z" fill="white"/>
                                        </svg>
                                        <div v-if="payForm.payment.statusProcess" class="x-btn-loader"></div>
                                        <span v-if="!payForm.payment.statusProcess">{{payForm.vocabulary.pay}}</span>
                                        <span v-else>{{payForm.vocabulary.process}}</span>
                                    </button>
                                </form>

                                <div class="x-text-center py-3">
                                    <img class="mr-3" src="img/verified-by-visa.svg" height="20" width="46" alt="Verified by Visa" title="Verified by Visa">
                                    <img class="mr-3" src="img/master-card-secure-code.svg" height="20" width="56" alt="MasterCard secure code" title="MasterCard secure code">
                                    <img src="img/dss-compliant.svg" height="20" width="53" alt="PCI DSS COMPLIANT" title="PCI DSS COMPLIANT">
                                </div>

                            </template>

                            <!-- confirmation loader -->
                            <template v-if="payForm.payment.status && payForm.payment.confirmationProcess">
                                <div class="x-loader x-loader-primary">Loading...</div>
                            </template>

                            <!-- confirmation ready - show success or unsuccess -->
                            <template v-if="payForm.payment.status && !payForm.payment.confirmationProcess && payForm.payment.confirmationReady">
                                <!-- success confirmation -->
                                <template v-if="payForm.payment.confirmation">
                                    <div class="x-pay-message x-text-center">
                                        <span class="x-pay-message__text fs-large">{{payForm.payment.message}}</span><br>
                                        <span class="x-pay-message__currency fs-large">{{payForm.payment.total}}</span>
                                        <div class="x-pay-message__icon">
                                            <svg width="108" height="81" viewBox="0 0 108 81" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M39.3666 56.2101L12.6658 29.2411L0 40.848L39.3666 80.1066L107.5 11.6069L94.8342 0L39.3666 56.2101Z" fill="#44AF57"/>
                                            </svg>
                                        </div>
                                    </div>

                                    <button v-on:click="payForm.config.show=false" type="button" class="x-btn x-btn-primary x-btn-wide mb-3">
                                        <span>{{payForm.vocabulary.complete}}</span>
                                    </button>

                                    <div class="clear px-4 mb-2">
                                        <p class="mb-0 x-fl-sm-left x-text-sm-right w-sm-50 pr-sm-3">
                                            <a class="x-link x-link-dark fs-extra-small x-d-inline-block" v-bind:class="{'mt-5': payForm.payment.confirmation, 'mt-3 mt-sm-5': !payForm.payment.confirmation}" href="#">{{payForm.vocabulary.printReceipt}}</a>
                                        </p>
                                        <p class="mb-0 x-fl-sm-right x-text-sm-left w-sm-50 pl-sm-3">
                                            <a class="x-link x-link-dark fs-extra-small x-d-inline-block mt-2 mt-sm-5" v-bind:href="getEmailLink()">{{payForm.vocabulary.sentToEmail}}</a>
                                        </p>
                                    </div>
                                </template>
                                <!-- not success confirmation -->
                                <template v-else>
                                    <div class="x-pay-message x-text-center">
                                        <span class="x-pay-message__text x-text-danger fs-large fw-bold">{{payForm.payment.message}}</span><br>
                                        <span class="x-pay-message__description x-text-danger fs-default mt-1" v-html="getErrorDescription()"></span><br>
                                        <div class="x-pay-message__icon">
                                            <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0.286867 67.9732L27.9695 40.3042L0 12.3848L12.2277 0.178971L39.9104 27.8479L67.8082 0L79.8566 12.0268L52.0305 39.7315L80 67.5794L68.1309 79.4631L40.5199 51.9016L12.3711 80L0.286867 67.9732Z" fill="#E23232"/>
                                            </svg>
                                        </div>
                                    </div>

                                    <div class="clear px-4 mb-2">
                                        <button v-on:click="payForm.config.show=false" type="button" class="x-btn x-btn-outline-primary x-btn-narrow x-fl-sm-left ml-sm-1 mb-4 mb-sm-0">
                                            <span>{{payForm.vocabulary.complete}}</span>
                                        </button>
                                        <button v-on:click="resetForm" type="button" class="x-btn x-btn-primary x-btn-narrow x-fl-sm-right mr-sm-1">
                                            <span>{{payForm.vocabulary.repeat}}</span>
                                        </button>
                                    </div>

                                    <div class="clear px-4 mb-2">
                                        <p class="mb-0 x-fl-sm-left x-text-sm-right w-sm-50 pr-sm-3">
                                            <a class="x-link x-link-dark fs-extra-small x-d-inline-block" v-bind:class="{'mt-5': payForm.payment.confirmation, 'mt-3 mt-sm-5': !payForm.payment.confirmation}" href="#">{{payForm.vocabulary.printReceipt}}</a>
                                        </p>
                                        <p class="mb-0 x-fl-sm-right x-text-sm-left w-sm-50 pl-sm-3">
                                            <a class="x-link x-link-dark fs-extra-small x-d-inline-block mt-2 mt-sm-5" v-bind:href="getEmailLink()">{{payForm.vocabulary.sentToEmail}}</a>
                                        </p>
                                    </div>

                                </template>
                            </template>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="js/index.min.js"></script>
</body>
</html>